/* System Buttons CSS
-------------------------------------------------- */
.btn.highsec{
	background-color: #f9f9f9;
	border-color: #ccc;
	font-weight:bold;
	margin-bottom:4px;
}
.btn.highsec:hover{
	background-color: #efefef;
	border-color: #bbb;
	font-weight:bold;
	margin-bottom:4px;
	text-decoration: underline;
}
.btn.nullsec{
	color: #D11F19;
	background-color: #f9f9f9;
	border-color: #ccc;
	font-weight:bold;
	margin-bottom:4px;
}
.btn.nullsec:hover{
	background-color: #efefef;
	border-color: #bbb;
	font-weight:bold;
	margin-bottom:4px;
	text-decoration: underline;
}